/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
.tp-caption {
  font-family: 'Josefine sans', Roboto, Raleway, sans-serif !important;
}

/*** IMPORTS ***/
.section {
  margin-top: 80px;
  margin-bottom: 80px;
}

body {
  font-size: 100%;
}

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}

header {
  margin-bottom: 0px;
  position: relative;
  z-index: 5;
}

/*** MENU ***/
nav[role=navigation] {
  height: 200px;
  margin-top: 10px;
  padding: 20px 40px 0 0;
}

nav[role=navigation] a {
  color: #111e31;
  font: bold 1.3rem/150% "Josefine sans", Raleway, Roboto, sans-serif;
}

nav[role=navigation] a:hover {
  color: #18949c;
  background-color: white;
}

nav[role=navigation] a > img.logo {
  position: absolute;
  width: 90px;
  height: auto;
  left: 45%;
}

/* mobile menu-icon */
.button-collapse {
  margin: auto 0 auto 45px;
}

/* Title & Slogan */
.brand {
  color: #18949c;
  font-family: "Josefine sans", Raleway, Roboto, sans-serif;
}

.brand h1 {
  text-align: left;
}

.brand h2 {
  text-align: right;
}

/*** MEDIA QUERYS ***/
/* Mini */
@media only screen and (min-width: 320px) {
  nav[role=navigation] {
    height: 130px;
  }
  nav[role=navigation] a > img.logo {
    width: 130px;
    top: 12px;
    left: 60%;
  }
  .brand {
    display: block;
    width: 90%;
    margin: 0 auto;
    padding-left: 20px;
  }
  .brand h1 {
    font: normal 1.3em/1em "Josefine sans", Raleway, Roboto, sans-serif;
    text-align: left;
    margin-top: -50px;
  }
  .brand h2 {
    font: normal 1.1em/1em "Josefine sans", Raleway, Roboto, sans-serif;
    text-align: left;
    margin-top: -23px;
  }
}

/* Small */
@media only screen and (min-width: 480px) {
  nav[role=navigation] {
    height: 175px;
  }
  nav[role=navigation] a > img.logo {
    width: 170px;
    top: 20px;
    left: 65%;
  }
  .brand {
    display: block;
    width: 90%;
    margin: 0 auto;
    padding-left: 20px;
  }
  .brand h1 {
    font: normal 2em/1em "Josefine sans", Raleway, Roboto, sans-serif;
    text-align: left;
    margin-top: -80px;
  }
  .brand h2 {
    font: normal 1.2em/1em "Josefine sans", Raleway, Roboto, sans-serif;
    text-align: left;
    margin-top: -20px;
  }
  .footer-menu ul {
    -webkit-flex-flow: row;
    -ms-flex-flow: row;
    flex-flow: row;
  }
}

/* Medium */
@media only screen and (min-width: 768px) {
  nav[role=navigation] {
    padding-top: 10px;
  }
  nav[role=navigation] a > img.logo {
    left: 60%;
    top: 20px;
  }
  .brand {
    padding-left: 10px;
  }
  .brand h1 {
    font: normal 2.1em/1em "Josefine sans", Raleway, Roboto, sans-serif;
    text-align: left;
    margin-top: -80px;
  }
  .brand h2 {
    font: normal 1.4em/1em "Josefine sans", Raleway, Roboto, sans-serif;
    text-align: left;
    margin-top: -20px;
  }
}

/* Large */
@media only screen and (min-width: 992px) {
  nav[role=navigation] {
    padding: 20px 50px 0 20px;
  }
  nav[role=navigation] a > img.logo {
    left: 45%;
    top: 20px;
  }
  .brand h1 {
    font: normal 2.1em/1em "Josefine sans", Raleway, Roboto, sans-serif;
    text-align: left;
    margin-top: -80px;
  }
  .brand h2 {
    font: normal 1.4em/1em "Josefine sans", Raleway, Roboto, sans-serif;
    text-align: right;
    margin-top: -40px;
  }
}

#sidenav-overlay {
  display: none;
}

#nav-mobile li.menu-item:hover {
  background-color: #FFF;
}

.card {
  box-shadow: none;
  border: solid 3px rgba(80, 187, 202, 0.5);
  border-radius: 5px;
}

/*** FOOTER LINKS ***/
.footer-menu {
  width: 100%;
  height: 150px;
  margin: 0 0 10px 0;
  padding-top: 1px;
  box-shadow: 1px 1px 2px #333;
}

.footer-menu ul {
  list-style: none;
  display: -webkit-box;
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer-menu ul li {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
}

.footer-menu ul li a {
  color: #18949c;
  font: normal 1.2em/200% "Josefine sans", Raleway, Roboto, sans-serif;
}

.footer-menu ul li img {
  display: none;
}

/* Medium FOOTER LINKS */
@media only screen and (min-width: 768px) {
  .footer-menu {
    height: 114px;
  }
  .footer-menu ul {
    -webkit-flex-flow: row;
    -ms-flex-flow: row;
    flex-flow: row;
  }
  .footer-menu ul li img {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    width: 100px;
    height: auto;
  }
}

.chat-container {
  position: fixed;
  bottom: 0;
  right: 15px;
  background-color: #FFF;
  width: 300px;
  height: 30px;
}

.chat-container .chat-link {
  font-size: 1em;
  color: #FFF;
  background-color: #111e31;
  font-weight: bold;
  text-decoration: none;
  text-align: left;
  padding-left: 15px;
  padding-top: 5px;
  height: 30px;
  display: block;
}

.chat-container .chat-link i.material-icons {
  float: right;
  margin-right: 15px;
}

.chat-container #chat {
  height: 0;
}

.input-field .prefix {
  color: #009688;
}
