.chat-container {
  position: fixed;
  bottom: 0;
  right: 15px;
  background-color: #FFF;
  width: 300px;
  height: 30px;

  .chat-link {
    font-size: 1em;
    color: #FFF;
    background-color: #111e31;
    font-weight: bold;
    text-decoration: none;
    text-align: left;
    padding-left: 15px;
    padding-top: 5px;
    height: 30px;
    display: block;
    i.material-icons {float:right; margin-right: 15px;}
  }
  #chat {height: 0;}
}
