/*** FOOTER LINKS ***/

.footer-menu {
    width: 100%;
    height: 150px;
    margin: 0 0 10px 0;
    padding-top: 1px;
    box-shadow: 1px 1px 2px #333;
    ul {
        list-style: none;
        display: -webkit-box;
        display: flex;
        display: -ms-flexbox;
        display: -webkit-flex;
        -webkit-flex-flow: column;
        -ms-flex-flow: column;
        flex-flow: column;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        li {
            -webkit-box-flex: 1;
            -webkit-flex: 1;
            -ms-flex: 1;
            flex: 1;
            text-align: center;
            -webkit-align-self: center;
            -ms-flex-item-align: center;
            align-self: center;
            a {
                color: $teal;
                font: normal 1.2em/200% $fonts;
            }
            img {
                display: none;
            }
        }
    }
}


/* Medium FOOTER LINKS */

@media only screen and (min-width: 768px) {
    .footer-menu {
        height: 114px;
        ul {
            -webkit-flex-flow: row;
            -ms-flex-flow: row;
            flex-flow: row;
            li {
                img {
                    display: inline-flex;
                    -webkit-box-flex: 1;
                    -webkit-flex: 1 1 auto;
                    -ms-flex: 1 1 auto;
                    width: 100px;
                    height: auto;
                }
            }
        }
    }
}