$darkblue: rgb(17, 30, 49);
$darkblueOpace: rgba(17, 30, 49, .9);
$orange: rgb(249, 122, 55);
$grey: rgb(204, 204, 204);
$mgrey: rgb(120, 120, 120);
$dgrey: rgb(50, 50, 50);
$turqoise: rgb(80, 187, 203);
$teal: rgb(24, 148, 156);
$white: rgb(250, 250, 250);

$fonts: 'Josefine sans', Raleway, Roboto, sans-serif;

body {
    font-size: 100%;
}

.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

header {
    margin-bottom: 0px;
    position: relative;
    z-index: 5;
}


/*** MENU ***/

nav[role=navigation] {
    height: 200px;
    margin-top: 10px;
    padding: 20px 40px 0 0;
    a {
        color: $darkblue;
        font: bold 1.3rem/150% $fonts;
        &:hover {
            color: $teal;
            background-color: white;
        }
    }
    a > img.logo {
        position: absolute;
        width: 90px;
        height: auto;
        left: 45%;
    }
}


/* mobile menu-icon */

.button-collapse {
    margin: auto 0 auto 45px;
}


/* Title & Slogan */

.brand {
    color: $teal;
    font-family: $fonts;
    h1 {
        text-align: left;
    }
    h2 {
        text-align: right;
    }
}


/*** MEDIA QUERYS ***/


/* Mini */

@media only screen and (min-width: 320px) {
    nav[role=navigation] {
        height: 130px;
        a > img.logo {
            width: 130px;
            top: 12px;
            left: 60%;
        }
    }
    .brand {
        display: block;
        width: 90%;
        margin: 0 auto;
        padding-left: 20px;
        h1 {
            font: normal 1.3em/1em $fonts;
            text-align: left;
            margin-top: -50px;
        }
        h2 {
            font: normal 1.1em/1em $fonts;
            text-align: left;
            margin-top: -23px;
        }
    }
}


/* Small */

@media only screen and (min-width: 480px) {
    nav[role=navigation] {
        height: 175px;
        a > img.logo {
            width: 170px;
            top: 20px;
            left: 65%;
        }
    }
    .brand {
        display: block;
        width: 90%;
        margin: 0 auto;
        padding-left: 20px;
        h1 {
            font: normal 2em/1em $fonts;
            text-align: left;
            margin-top: -80px;
        }
        h2 {
            font: normal 1.2em/1em $fonts;
            text-align: left;
            margin-top: -20px;
        }
    }
    .footer-menu {
        ul {
            -webkit-flex-flow: row;
            -ms-flex-flow: row;
            flex-flow: row;
        }
    }
}


/* Medium */

@media only screen and(min-width:768px) {
    nav[role=navigation] {
        padding-top: 10px;
        a > img.logo {
            left: 60%;
            top: 20px;
        }
    }
    .brand {
        padding-left: 10px;
        h1 {
            font: normal 2.1em/1em $fonts;
            text-align: left;
            margin-top: -80px;
        }
        h2 {
            font: normal 1.4em/1em $fonts;
            text-align: left;
            margin-top: -20px;
        }
    }
}


/* Large */

@media only screen and(min-width:992px) {
    nav[role=navigation] {
        padding: 20px 50px 0 20px;
        a > img.logo {
            left: 45%;
            top: 20px;
        }
    }
    .brand {
        h1 {
            font: normal 2.1em/1em $fonts;
            text-align: left;
            margin-top: -80px;
        }
        h2 {
            font: normal 1.4em/1em $fonts;
            text-align: right;
            margin-top: -40px;
        }
    }
}

#sidenav-overlay { display: none; }
#nav-mobile li.menu-item:hover { background-color: #FFF}
